.projects_box {
  margin-top: 3vw;
}

/*.project {
  border-radius: .5rem;
  border: .0625rem solid black;
  width: 90%;
  height: fit-content;
  margin-bottom: 5vw;
  overflow: hidden;
  display: flex;
  text-align: center;
  align-items: center;
}*/

.project div {
  padding: 1vw;
  margin: auto;
  width: 100%;
  height: 100%;
}

.project div p {
  height: auto;
  overflow: auto;
  margin-bottom: 0;
  word-break: break-word;
}

.project img {
  width: 20vw;
  object-fit: contain;
  margin-right: 1vw;
}

.project .button--blue {
  text-align: center;
  margin: auto;
  margin-right: 1vw;
}

h2 {
  margin-bottom: 2vw;
  font-size: 3vw;
}

@media (max-width: 46.875rem) {
  .projects_box {
    display: flex;
    flex-direction: column;
  }
}
