.img-bottom {
  margin-bottom: 4vw;
}

.projects_page {
  width: 100%;
}

.projects_page img {
  width: 100%;
  object-fit: contain;
}

.projects_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vw;
}

.project {
  border-radius: 8px;
  border: 1px solid black;
  width: 90%;
  height: 14vw;
  margin-bottom: 5vw;
  overflow: hidden;
  display: flex;
  text-align: center;
  align-items: center;
}

.project div {
  padding: 1vw;
  margin: auto;
}

.project div p {
  height: 7vw;
  overflow: auto;
}

.project img {
  width: 20vw;
  object-fit: contain;
  margin-right: 1vw;
}

.project .button--blue {
  text-align: center;
  margin: auto;
  margin-right: 1vw;
}

h2 {
  margin-bottom: 2vw;
  font-size: 3vw;
}

@media screen and (min-width: 450px) {
  width: 100%;
}
