.main_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.cards_content1,
.cards_content2 {
  margin: 20px;
  padding: 5px;
}

.card__content-intro,
.card__content-process,
.card__content-testimonial,
.card__content-form {
  background-color: #5c636a;
}