.container__head {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
}

.cards_content1,
.cards_content2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px;
  width: 100%;
}

.card__content-intro,
.card__content-process,
.card__content-testimonial,
.card__content-form {
  background-color: #5c636a;
  min-height: 30%;
  margin: 10px;
}