.container__head {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
}

.cards__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 5vw;
}

.card__content-mini {
  display: flex;
  flex-direction: column;
  min-height: 45%;
  margin: 2vw;
  padding: 2vw;
  font-size: medium;
  text-align: left;
  border: 1px solid #adb5bd;
  border-radius: 5px;
}

.h3 {
  font-size: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.input {
  margin: 0;
}

@media (max-width: 37.5rem) {
  .container {
    display: flex;
    flex-direction: column;
  }
}


