a.donated--button, {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #c23636;
    color: #fff;
    background-color: #c23636;
    text-decoration: none;
    text-align: center;
    padding: 1vw 2vw;
    margin-right: 1vw;
    max-height: 70px;
}

a.donated--button:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: #9c2c2c;
}

button.emission--button:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: #9c2c2c;
}

button.emission--button {
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: #c23636;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 1vw 2vw;
    margin: auto auto 2vw;
    width: 150px;
    max-height: 70px;
}

a.menu--button,
a.intro--button {
    display: inline-block;
    max-height: 70px;
    border-radius: 4px;
    color: #c23636;
    background-color: #fff;
    text-decoration: none;
    margin: 1vw 0.5vw 1.5vw 1vw;
    padding: 1vw;
}

/* <750 */
@media (max-width: 37.5rem) {
    a.donated--button {
        display: none;
    }
}

/* 600 (très petit) */
@media (max-width: 46.875rem) {
    a.donated--button {
        display: none;
    }
}