.instructions_box {
  width: 100%;
}

iframe {
  margin-bottom: 0.5vw;
}

h2 {
  margin-top: 3vw;
  margin-bottom: 2vw;
}

.button--resume {
  border: 1px solid #166bba;
  background-color: #166bba;
}

.text--resume {
  border: 1px solid #166bba;
}
