.intro {
  color: #fff;
  background-image: url("/qui_sommes_nous_1.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 32%;
  padding-bottom: 5%;
  margin-bottom: 4vw;
  text-align: center;
}

.h1-title {
  background-color: #000000;
}
